<font size="5">311 DATA EXERCISE</font>
<br />
Goal: Explore the 311 dataset using basic R commands.

<font size="5">LOAD DATASET</font>

We use <- notation to assign values to variables

The read function takes input data and converts it into a dataframe object

In [ ]:
mydata <- read.csv("https://s3.amazonaws.com/datapolitan-training-files/311_Requests_Oct15_Nov20.csv", header=TRUE, sep=",")

<font size="5">Exploring the data</font>
<ul>
    <li>
        dim
    </li>
    <li>
        colnames
    </li>
    <li>
        head
    </li>
    <li>
        subsets
    </li>
    <li>
        summary
    </li>
</ul>

<font size="5">DIM</font>

dim function returns the dimensions of an object (i.e. number of rows and number of columns)

In [ ]:
dim(mydata)

<font size="5">COLNAMES</font>

colnames function returns the object's column names

In [ ]:
colnames(mydata)

<font size="5">HEAD</font>

head function displays the first 6 records associated with a dataset

In [ ]:
head(mydata)

<font size="5">SUBSETTING</font>

Subsets of the dataset can be created and passed to various functions

In [ ]:
# Subsetting mydata for only columns 2, 6, 7, 8, 9, 24, and 25. Note: c standard for concatenate not columns
mydata[,c(2,6,7,8,9,24,25)]

# We can also subset mydata for only the first 3 records.
mydata[c(1,2,3), c(2,6,7,8,9,24,25)]

<font size="5">SUMMARY</font>

Summary statistics can be generated for each column in the dataset

In [ ]:
summary(mydata)

Summary statistics on a subset of the columns in the dataset

In [ ]:
summary(mydata[,c(2,3)])

<font size="5">Understanding Data Structure</font>

<ul>
    <li>
        str (structure)
    </li>
    <li>
        class
    </li>
    <li>
        sapply
    </li>
    <li>
        converting data
        <ul>
            <li>
                as.numeric
            </li>
            <li>
                as.character
            </li>
        </ul>
    </li>
    <li>
        max, min, mean, median
    </li>        
    <li>
        dealing with NULLS
        <ul>
            <li>
                na.rm
            </li>
        </ul>
    </li>
    <li>
        table
    </li>
</ul>

<font size="5">STR</font>

Structure of columns in a dataset. Alternative to summary

In [ ]:
str(mydata[,c(2,6,7,8,9,24,25)])

<font size="5">CLASS</font>

Identify the data type of a particular dataset column

In [ ]:
class(mydata$Borough)
class(mydata$Latitude)
class(mydata$School.or.Citywide.Complaint)

<font size="5">SAPPLY</font>

Identify the datatypes of all dataset columns. Can be used with other functions

In [ ]:
sapply(mydata, class)

<font size="5">AS.NUMERIC</font>

Convert the data type of a dataframe's column to numeric

In [ ]:
mydata[, 9] <- as.numeric(levels(mydata[, 9])[mydata[, 9]])

<font size="5">AS.CHARACTER</font>

Convert the data type of a dataframe's column to string

In [ ]:
mydata[, 5] <- as.character(mydata[, 5])

List the new data types of the altered columns

In [ ]:
sapply(mydata[, c(9,5)], class)

<font size="5">MAX, MIN, MEAN, MEDIAN and NA.RM</font>

Calculate minimum, maximum, mean, and median values for a specific column. Note: The field must be a numeric type and contain no NULL values

Calculating descriptive statistics on column with NULLS

In [ ]:
# Will return <NA> because NULLS exist in column
max(mydata$Incident.Zip)
min(mydata$Incident.Zip)
mean(mydata$Incident.Zip)
median(mydata$Incident.Zip)

Calculating descriptive statistics on column after removing NULL values

In [ ]:
# If NULLS exist within your column, use na.rm=TRUE
max(mydata$Incident.Zip,  na.rm=TRUE)
min(mydata$Incident.Zip,  na.rm=TRUE)
mean(mydata$Incident.Zip,  na.rm=TRUE)
median(mydata$Incident.Zip,  na.rm=TRUE)

<font size="5">TABLE</font>

Create a cross-tabulation / pivot table for specific dataset columns

Number of 311 complaints by Borough

In [ ]:
table(mydata$Borough)

Number of 311 complaints by Agency

In [ ]:
table(mydata$Agency)

<font size="5">Visualizing Data</font>

<font size="5">Bar Plot</font>

Create bar plot showing 311 complaints broken down by frequency across Boroughs

In [ ]:
# Understand data structure

# Store new pivot table as a new dataframe object

boroughTable <- table(mydata$Borough)

#Visualize data with a bar plot

barplot(table(mydata$Borough), main='# of 311 Complaints by Borough', xlab='Boroughs', ylab='# of 311 Complaints', cex.names=.5, col='orange', ylim=c(0,70000))
# plot.window(ylim=100000)

<font size="5">Exporting Data</font>

Export data to csv file-format

In [ ]:
write.csv(mydata, '311_Data_Original.csv')

Export subset (first four columns) of data to csv file-format

In [ ]:
write.csv(mydata[,c(1,2,3,4)], '311_Data_Column_Subset.csv')